<p>Assuming that the names in your list are found (exact spelling) in the Top 1000 popular names for 2009, they will be shown here along with their rankings.</p>
<p>Example:</p>
<p>Samuel #<span class="male">28</span></p>
