<% title "Names" %>



<% form_tag(names_path, {:method => 'get', :class => "form"}) do %>
  <p><%= text_area_tag "namelist", params[:namelist] %></p>
  <p><%= submit_tag "Submit", :disable_with => 'Submiting...' %></p>
<% end -%>

<div id="output">
  <% if !@names.empty? %>
    <% for name in @names %>
      <%= name %><br />
    <% end %>
  <% else %>
    <%= @names %>
  <% end %>  
</div>
